<div id="{{id}}" class="atlas-map" style="top: {{position.top}}px; left: {{position.left}}px;">
    <h5><a href="#" onclick="return false;">{{label}}</a></h5>
    {{#each views}}
        <h3>{{label}}</h3>
        <div class="map-contents container-fluid" data-source="{{source}}" data-view="{{id}}"></div>
    {{/each}}
</div>