<li class="dropdown-submenu">
    <a tabindex="-1" href="#">{{label}}</a>
    <ul class="dropdown-menu">
        {{#each lineitems}}
            <li class='{{li_class}}'><a href='{{a_href}}' class='{{a_class}}'>{{label}}</a></li>
        {{/each}}
    </ul>
</li>