<ul class="nav">
    <li><a href="#" class="data-menu-toggle" onclick="return false;">{{label}} <i class="icon-chevron-right"></i> </a></li>
    {{#each items}}
    <li class="dropdown hide">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{label}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            {{#each items}}
            <li><a href="#" onclick="return false;" class="selected-data-item" data-unitId="{{unitId}}" data-itemId="{{itemId}}">{{label}}</a></li>
            {{/each}}
        </ul>
    </li>
    {{/each}}
</ul>
