<ul class="nav nav-pills">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gene A <b class="caret"></b></a>
        <ul class="dropdown-menu gene-a-selector">
            {{#each geneList}}
            <li><a href="#" onclick="return false;" data-id="{{id}}">{{id}}</a></li>
            {{/each}}
        </ul>
    </li>

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gene B <b class="caret"></b></a>
        <ul class="dropdown-menu gene-b-selector">
            {{#each geneList}}
            <li><a href="#" onclick="return false;" data-id="{{id}}">{{id}}</a></li>
            {{/each}}
        </ul>
    </li>

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Color By<b class="caret"></b></a>
        <ul class="dropdown-menu color-by-selector">
            <li><a href="#" onclick="return false;" data-id="log-p-value">log p-value</a></li>
            <li><a href="#" onclick="return false;" data-id="correlation-coefficient">correlation coefficient</a></li>
            <li><a href="#" onclick="return false;" data-id="number-of-samples">number of samples</a></li>
        </ul>
    </li>
</ul>

{{#each data}}
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
    <tr>
        <td>
            <b>{{label}}</b>
            <br/>{{geneA}} <i class="icon-chevron-right"></i>
            <br/>{{geneB}} <i class="icon-chevron-down"></i>
        </td>
        {{#each headers}}
        <td class="vertical_cell"><div class="vertical_text"><a href="#" onclick="return false;" class="grid-label" data-grouping="{{../label}}" data-id="{{d.id}}">{{grid_label}}</a></div></td>
        {{/each}}
    </tr>
    </thead>
    <tbody>
    {{#each data}}
    <tr>
        <td><a href="#" onclick="return false;" class="grid-label" data-grouping="{{../label}}" data-id="{{d.id}}">{{grid_label}}</a></td>
        {{#each row}}
        <td style="background-color: {{color}}"></td>
        {{/each}}
    </tr>
    {{/each}}
    </tbody>
</table>
{{/each}}
