<ul class="minigraph-legend pull-right well nav nav-list">
    {{#each legends}}
    <li>
        <span style="background-color: {{color}}; height: 20px;">
            <a href="#" onclick="return false;" class="color-picker" data-key="{{label}}">&nbsp;&nbsp;&nbsp;</a>
        </span>
        {{label}}
    </li>
    {{/each}}
</ul>
<div class="row">
    {{#each nodetypes}}
    <div class="span2 {{#if notFirst}}offset1{{/if}}">
        <h4>{{label}}</h4>
        {{#each nodes}}
        <div id="{{uid}}" class="node-info well">
            {{label}}
            {{#each measures}}
            <div class="node-measures" data-key="{{key}}" data-value="{{value}}"></div>
            {{/each}}
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>