<div class="row">
    {{#each nodetypes}}
        <div class="span4 offset1">
            <h4>{{label}}</h4>
            {{#each nodes}}
                <div id="{{uid}}" class="node-info well">
                    {{label}}
                    <ul>
                        {{#each measures}}
                        <li>{{label}}:{{value}}</li>
                        {{/each}}
                    </ul>
                </div>
            {{/each}}
        </div>
    {{/each}}
</div>